<h1>Create New Recipe</h1>
<form action="/recipes" method="post">
    <lable>Recipe Name: </lable>
    <input type="text" name="name">
    <lable>Recipe ingredients: </lable>
    <input type="text" name="ingredients">
    <lable>Recipe Cook Time: </lable>
    <input type="text" name="cook_time">
    <input type="submit">
</form>